@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
	background-color: #d2c3be;
	font-family: 'Montserrat', sans-serif;
}

h2 {
	color: #333;
}

table {
	font-family: Arial, sans-serif;
	border-collapse: separate;
	border-spacing: 2px 5px;
	width: 45%;
	margin-bottom: 20px;
}

td:first-child {
    font-weight: bold; 
}

th,
td {
	border: 1px solid #333;
	text-align: left;
	padding: 8px;
}

tr:nth-child(odd) {
	background-color: #c0c0c0;
}

tr:nth-child(even) {
	background-color: #e0e0e0;
}

th {
	background-color: #4CAF50;
	color: white;
}



button {
	background-color: #455760;
	box-shadow: 2px 2px 2px #3f6c7a;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;
}

button:hover {
	background-color: #2e3940;
}

button a {
	text-decoration: none;
	color: white;
}